<section class="container">
    <h2 class="text-center display-5 fw-bold mt-4 mb-4">Обо Мне</h2>
    <div class="row">
        <div class="col w-75">
            <p class=" text-center" style="font-size:  20px;">Контрольная работа №1. Петросян Гор Каренович. Стадия реализации проекта
                60-80%. Недостоющие детали в проекте: красивый интерфейс, отсутствие некоторого функционала.
                Помощь в реализации проекта в нынешней ситуации пока не нужна</p>
        </div>
    </div>
</section>